/* Tablets */
@media only screen and (min-width: 768px) {

  body {
    font-size: 24px;
  }

  main>header {
    padding-bottom: 0.75em;
  }

  main>header img {
    width: 60%;
  }

  nav {
    padding: 0.75em;
  }
}

/* Laptops/Desktops */
@media only screen and (min-width: 1042px) {
  nav {
    background-color: #4056a1;
    padding: 1.5em;
    height: 120px;
  }

  main {
    margin: 120px 1.5em 0 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
  }

  main>header {
    top: calc(120px + 1.5em);

    width: 40vw;
    height: fit-content;
    padding-top: 0.75em;
    justify-content: flex-end;

    display: sticky;
  }

  main>header img {
    width: 100%;
  }

}