/* Tablets */
@media only screen and (min-width: 768px) {

  body {
    font-size: 24px;
  }

  body>header {
    padding-bottom: 0.75em;
  }

  body>header img {
    width: 60%;
  }

  nav {
    padding: 0.75em;
  }
}

/* Laptops/Desktops */
@media only screen and (min-width: 1042px) {
  nav {
    background-color: #4056a1;
  }

  nav {
    padding: 1.5em;
  }

  body>header {
    height: 485px;
    justify-content: flex-end;
  }

  body>header img {
    width: 100%;
  }
}