nav {
  /* Box */
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #FFFFFF;

  /* Flexbox */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: "Bungee", sans-serif;
  margin-bottom: 0.75em;
  margin-left: 1.5em;
}

.navbar-menu {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-buttons {
  height: 1.25em;
}

#show-new-tweet {
  background: transparent;
  border-style: none;
  color: red;
}

@keyframes button {
  from {
    margin-top: 0
  }

  to {
    margin-top: 0.5em
  }

}

#show-new-tweet:hover {
  cursor: pointer;
  animation-name: button;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}