.new-tweet {
  margin: 2em 0
}

.new-tweet div:first-child {
  border-bottom: solid black;
  padding-bottom: 0.75em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

}

.new-tweet div:last-child {
  font-family: "Bungee", sans-serif;
  margin-top: 0.75em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet .counter {
  font-weight: 600;
  /* font-size: 1.5em; */
}

.counter.negative {
  color: red;
}

.new-tweet label[for="tweet-text"] {
  width: 100%;
  /* flex-shrink: 5; */
}

.new-tweet textarea[name="text"] {
  width: 100%;
  margin-top: 0.5em;
  resize: none;
  background-color: inherit;
  border: none;
  /* flex-shrink: 2; */
}

.new-tweet button {
  background-color: #4056a1;
  color: #ffffff;
}