.new-tweet {
  margin: 2em 0
}

.new-tweet div:first-child {
  border-bottom: solid black;
  padding-bottom: 0.75em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

}

.new-tweet div:last-child {
  font-family: "Bungee", sans-serif;
  margin-top: 0.75em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-tweet .counter {
  font-weight: 600;
}

.new-tweet .counter.negative {
  color: red;
}

.new-tweet label[for="tweet-text"] {
  width: 100%;
}

.new-tweet textarea[name="text"] {
  width: 100%;
  margin-top: 0.5em;
  resize: none;
  background-color: inherit;
  border: none;
}

.new-tweet button {
  background-color: #4056a1;
  color: #ffffff;
  height: 1.5em;
}

.error {
  font-family: "Source Sans Pro", sans-serif;
  color: red;
  margin: 0 0.25em;
  width: 60%;
  text-align: center;
  padding: 0.25em;
  border: 3px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.error h5 {
  margin: 0;
}